<h1 class="display-2"> Detalles del mensaje {{mId}}</h1>
<h2>Contenido</h2>
<p>{{contenido}}</p>
<h2>Imagen Adjunta</h2>
<img src="{{adjunto}}"/>
<p>{{adjunto}}</p>
<button class="btn btn-info" type="button" onclick="history.go(-1); return false;">Volver</button>